<div id="<%= dom_id table %>">
  <p>
    <strong>Height:</strong>
    <%= table.height %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= table.width %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= table.description %>
  </p>

</div>
